BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
WEBHOOK_BASE_URL=YOUR_WEBHOOK_HERE
ALLOWED_GUILD_ID=YOUR_SERVER_ID_HERE
ALLOWED_ROLE_ID=YOUR_ROLE_ID_HERE
WEBHOOK_USER=YOUR_BASIC_AUTH_USERNAME
WEBHOOK_PASS=YOUR_BASIC_AUTH_PASSWORD
WEBHOOK_TIMEOUT=180000